# Project place file
/Allure.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json
Packages/
ServerPackages/
wally.lock
rokit.toml
stylua.toml
node_modules
docs/.vitepress/cache